/* .nav {
  height: fit-content;
  background-color: #68ddef;
  padding: 0 5px;
  color: #0351e2;
} */



.no-underline {
  text-decoration-line: none;
}

.stil {
  list-style-type: none;
}

.logo {
  width: 62px;
  height: 62px;
}