@font-face {
  font-family: Aventador;
  src: url(./assets/fonts/Aventador.ttf);
}

@font-face {
  font-family: CoopBlack;
  src: url(./assets/fonts/CoopBlack_Cyrillic_0.ttf);
}

@font-face {
  font-family: EFN;
  src: url(./assets/fonts/Lemon.ttf);
}

body {
  background-image: url(./assets/images/fon2.jpg);

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: auto auto;
  background-size: cover;
}
