.pp {
  margin-top: 4px;
}

.section {
  padding: 20px 0;
}

.cont {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
}

.player {
  max-width: 100%;
}

.cb {
  background-color: rgb(93, 176, 82);
  margin: 0 auto;
}
